body.index-page {
    background-image: url('../images/homepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    color: white;
}

.header {
    background-color: #DB1A1A;
    color: #ffff;
    padding: 5px;
    margin-bottom: 1px;
}

.footer {
    color: #ffff;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 120px;

}

.nav-list li {
    display: inline;
    padding: 2px 5px;
}

.nav-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.homepage {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px;
    gap: 15px;
    border-top: #DB1A1A solid 1px;
}

.historySection {
    padding: 5px;
    border-right: #DB1A1A solid 1px;
}

.scheduleSection {
    padding: 2px;
    color: black;
}

h2 {
    text-align: center;
    color: white;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: 125px;
    gap: 1em;
    padding: 2px;
    justify-items: center;
    margin-right: 10px;
}

.preview {
    background-color: #F3F4F4;
    text-align: left;
    width: 225px;
    padding: 10px;
    border: hidden;
    border-radius: 5px;
    height: 105px;
}

.preview:hover {
    background-color: #DB1A1A;
    cursor: pointer;
    color: white;
}

p2 {
    color: white;
}
